@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgb(24, 5, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s background ease;
    font-family: 'Montserrat', sans-serif;
}

.section {
    color: white;
    transition: .5s;
    width: 600px;
    background-color: rgb(34, 14, 14);
    padding: 60px;
}

.section h1 {
    text-transform: uppercase;
    margin: 0;
}

.section p {
    color: grey;
}

.light-color {
    color: black;
    background-color: rgb(219, 219, 219);
}

.theme-switch {
    color: white;
    width: 70px;
    height: 30px;
    background: rgb(75, 35, 35);
    border-radius: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.theme-switch .switch {
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

.light-theme .theme-switch {
    background: black;
}

.light-theme .theme-switch .switch {
    transform: translateX(37px);
}